<% include partials/header %>
<h1>Choose Meals For The Week</h2>
<div>
  <% mealsList.forEach(function(meal){ %>
    <form>
      <label>
          <input onclick="updateBtnHref()" type="checkbox" name="checkbox" value="text">
        <%= meal %>
      </label>
    </form>
  <% }) %>
</div>
<div>
  <a id="generateListBtn" href="" class="btn btn-lg btn-danger">Shopping List</a>
</div>

<script>
  function updateBtnHref() 
  {
    var allMealCheckboxes = document.querySelectorAll("input");
    var generateListBtn = document.querySelector("#generateListBtn");
    var stringForBtnHref = "/shoppingList?selectedMeals=";
    allMealCheckboxes.forEach(function(checkbox){
      if (checkbox.checked)
      {
        stringForBtnHref += "1";
      }
      else
      {
        stringForBtnHref += "0";
      }
    });
    generateListBtn.href = stringForBtnHref;
  }

  updateBtnHref();
  </script>

<% include partials/footer %>