<% include partials/header %>
<h1>Shopping List</h1>

<div id="ingredientsList">
  <% ingredientsKeys.forEach(function(ingredient, index){ %>
    <form>
      <label class="ingredient"><%= ingredient %> <%= ingredientsHashMap[ingredient] %></label>
      <label class="removeItemButton">(remove)</label>
    </form>
  <% }) %>
</div>


<form>
  <label>
    Add ingredient
    <input id="addIngredientInput" type="text">
  </label>
  <label id="addIngredientButton">(add)</label>
</form>

<script>
  $(document).on('click', '.ingredient', function () {
    $(this).toggleClass("itemInCart");
  });

  $(document).on('click', '.removeItemButton', function () {
    $(this).parent("form").remove();
  });

  $(document).on('click', '#addIngredientButton', function() {
    var ingredientText = $("#addIngredientInput").val();
    var ingredientsList = $("#ingredientsList");
    var newHTML = "<form><label class=\"ingredient\">" + ingredientText + "</label><label class=\"removeItemButton\"> (remove)</label></form>";
    ingredientsList.html(ingredientsList.html() + newHTML); 
  });
</script>
<% include partials/footer %>